<div class="row" ng-class="iamdialog == true? 'dialogBackground' : ''" ng-click="setSelected({})">
    <div ng-class="iamdialog == true? 'dialog' : ''" class="col-md-12" ng-click="$event.stopPropagation();">
        <table class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th ng-show="head.code != 'id'" ng-click="setOrdering(head.code);" ng-repeat="head in header">{{head.label}} <span class="glyphicon glyphicon-chevron-right"></span></th>
                </tr>
                <tr>
                    <th ng-show="head.code != 'id' && iamdialog != true"  ng-repeat="head in header;"><input class="form-control" type="text" ng-model="filters[head.code]" placeholder="search {{head.label}}"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="row['id'] == selected['id']? 'selectedRow' : ''" ng-click="setSelected(row)" ng-if="showRow(row) && $index >= minShow && $index < maxShow"
                    ng-repeat="row in rows  | orderBy:('-' + ordering) track by $index">
                    <td ng-show="head.code != 'id'" ng-repeat="head in header"></span>
                         <span ng-if="!head.isReference">
                             {{row[head.code] | ifDateFormatFilter}}
                         </span>
                        <span ng-if="head.isReference">
                            {{row[head.code].id | ifDateFormatFilter}}
                            <button ng-click="zoomSingleLine(head.code,row)" class="btn btn-sm btn-success">..</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button ng-if="iamdialog != true" style="margin-left:10px;" ng-click="changeMinMaxShow($index)" class="btn btn-success" ng-repeat="_ in getPageCount() track by $index">{{$index + 1}}</button>
    </div>
</div>

<div class="row" ng-if="iamdialog != true">
    <div style="margin-top:10px;" class="col-md-12">
        <div ng-show="head.code != 'id'" ng-repeat="head in header" class="col-md-3">
            <label for="{{head.code}}">{{head.label}}:</label>
            <input ng-if="!head.isReference" type="{{head.type}}" class="form-control" ng-model="editing[head.code]" id="{{head.code}}">
            <input ng-if="head.isReference" type="{{head.type}}" class="form-control" ng-model="editing[head.code].id" id="{{head.code}}">
            <span ng-if="head.isReference"><button ng-click="filterId = null; head.openDialog()" class="btn">..</button></span>
        </div>
    </div>

    <div style="margin-top:10px;" class="col-md-6">
        <button ng-if="allowAdd" class="btn btn-success" ng-click="doAdd()">Add New</button>
        <button ng-if="allowEdit" class="btn btn-primary" ng-click="doEdit()">Save Edit</button>
        <button ng-if="allowRemove" class="btn btn-warning" ng-click="doRemove()">Remove Selected</button>
    </div>

    <div style="margin-top:10px;" class="col-md-6">
        <a style="margin-left:3px;" ng-repeat="next in nexts" ng-disabled="!selected || !selected['id']" href="{{next.link + '/' + selected.id + '/' + next.filterProperty}}"  class="btn btn-info">Next {{next.label}}</a>
    </div>
</div>