<div class="col-md-6">
    <button class="btn btn-sm" ng-click="moveMostLeft()"><span class="glyphicon glyphicon-fast-backward"></span></button>
    <button class="btn btn-sm" ng-click="moveLeft()"><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button class="btn btn-sm" ng-click="moveRight()"><span class="glyphicon glyphicon-chevron-right"></span></button>
    <button class="btn btn-sm" ng-click="moveMostRight()"><span class="glyphicon glyphicon-fast-forward"></span></button>

</div>